body {
	padding-top: 50px;
	font-family: 'Raleway', sans-serif;
}
.thumbnail {
	border: none;
}
#intro { 
	background: url(../../images/backgrounds/glenn-jackson-2000x500.jpg) 50% 0 fixed; 
	height: 300px;  
	margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    text-align: center;
    color: #fff;
}
#home { 
	height: auto;  
	margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}
#inter1 { 
	background: url(../../images/backgrounds/st-johns-bridge-2000x1125.jpg) 50% 0 fixed; 
	height: 300px;  
	margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    text-align: center;
    color: #fff;
}
#item { 
	height: auto;  
	margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
}
#item img {
    width: 200%;
}
.carousel .item {
    -webkit-transition: opacity 3s; 
    -moz-transition: opacity 3s; 
    -ms-transition: opacity 3s; 
    -o-transition: opacity 3s; 
    transition: opacity 3s;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next {
    left:0;
    opacity:1;
    z-index:1;
}

.carousel-indicators li {
    border: 1px solid #777;
}
.carousel-indicators .active {
    background-color: #777;
}